.nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.logo {
  border-radius: 100%;
  height: 200px;
}
.nav-li {
  float: left;
  text-align: center;
  padding: 50px;
  margin: 0;
  
}